li{
    float: left;
    list-style: none;
    padding: 20px;
}
nav{
    float: right;
    
    
}
a{
    text-decoration: none;
}
input{
    float: left;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 80px;
}


#primer{
    width: 50%;    
}